body {
  background-color: black;
}

.modal.active .modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

button:hover {
  cursor: pointer;
}

.stats {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 8px 16px;
  color: white;
  background-color: black;
  border-top-left-radius: 4px;
  opacity: 0.8;
}

.stats:hover {
  opacity: 1;
}

.stat {
  margin-right: 8px;
  display: inline-block;
}
