body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  font-size: 14px;
}

.stats {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
}

.stat {
  margin-right: 8px;
}
